<h1>{{title}}</h1>

<!-- routerLink is the selector for the RouterLink directive that turns
user clicks into router navigations.  It's another of the public directives
in the RouterModule -->
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>

<!-- tells the router where to display router views-->
<router-outlet></router-outlet>
<!-- <app-heroes></app-heroes> -->
<app-messages></app-messages>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->