<div id="search-component">
    <label for="search-box">Hero Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)"/>
    <ul class="search-result">
        <!-- Notice *ngFor iterates over a list called heroes$ not heroes
        this is a convention that indicates heroes$ is an observable not an array
    
            since *ngFor can't do anything with an Observable use the pipe characger followed by async
            this identifies angular's asynchPipe and subscribes to an observable automatically
            so you won't have to do so in the component class-->
        <li *ngFor="let hero of heroes$ | async" >
            <a routerLink="/detail/{{hero.id}}">
                {{hero.name}}
            </a>
        </li>
    </ul>
</div>
